@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Patrick+Hand&display=swap');

body{
	padding: 0;
	margin: 0;
}

.navegador ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
}

.navegador li{
	float: left;
}

.navegador li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.navegador li a:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.boton{
	background-color: #d9ab57;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.boton:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.ImgBio{
	float: left;
	background-color: #e0d3c4;
	margin: 3% 8%; 
	border-radius: 5px;
}

.ImgBio img{
	margin: 2% 2%;
	border-radius: 5px;
	width: 500px;
}

.TextoL{
	width: 40%;
	margin: 6% 10%;
	padding: 10px;
	position: absolute;
	left: 38%;
}

.TextoL H1{
	font-family: 'Patrick Hand', cursive;
	font-size: 40px;
	color: #d9ab57;
	text-align: center;
	margin-bottom: 0px;
}

.TextoL h2{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.TextoL p{
	width: 80%;
	padding: 10px;
	margin-left: 50px;
	font-family: 'Playfair Display', serif;
	font-size: 16.5px;
}

.content{
	position: relative;
	overflow: hidden;
}

.botonI{
	padding: 10px;
	float: left;
	margin-top: 50px;
}

.botonI input{
	font-family: 'Playfair Display', serif;
	width: 260px;
	height: 50px;
	font-size: 15px;
	background-color: #e0d3c4;
	border-radius: 5px;
}

.botonI input:hover{
	background-color: #d9ab57;
	border-bottom: 4px solid #333;
}

.botonC{
	padding: 10px;
	float: right;
	margin-top: 50px;
}

.botonC input{
	font-family: 'Playfair Display', serif;
	width: 260px;
	height: 50px;
	font-size: 15px;
	background-color: #e0d3c4;
	border-radius: 5px;
}

.botonC input:hover{
	background-color: #d9ab57;
	border-bottom: 4px solid #333;
}

.datos{
	position: relative;
	top: 10px;
}


.boton2{
	background-color: #e0d3c4;
	float: right;
	display: block;
	text-align: center;
	padding: 8px 10px;
	margin: 10px;
	text-decoration: none;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
}

.boton2:hover{
	background-color: #f2ece4;
	color: black;
	font-size: 16px;
}

.bottom ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
}

.bottom li{
	color: white;
	float: left;
	display: block;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.contactos{
	margin-top: 25px;
}

.bottom li p{
	margin-top: 33px;
}