@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Patrick+Hand&display=swap');

body{
	padding: 0px;
	margin: 0px;
}

.navegador ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
	width: 99.58%;
}

.navegador li{
	float: left;
}

.navegador li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.toggle{
	width: 32px;
	float: right;
	margin-top: -30px;
	margin-left: 5px;
	display: none;
}

.navegador li a:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.boton{
	background-color: #d9ab57;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.boton:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}


@media only screen and (max-width: 892px) {
  /* For mobile phones: */

  .navegador li{
    width: 100%;
  }
  .navegador{
  	width: 99.59%;
  	height: 80px;
  	overflow: hidden;
  }

  .toggle{
  	display: block;
  	float: left;
  	margin-left: 30%;
  	padding: 6px;
  	margin-top: -55.7px;
  	transition: 0.8s;
  }
}

@media only screen and (max-width: 892px) {
  /* For mobile phones: */
  .navegador .boton{
    width: 87%;
  }

}

.navegador.active{
	height: auto;
}


.navegador.active .toggle{
	transform: rotate(180deg);
	transition: 0.8s;
}


.ImgLateral{
	float: right;
	margin: 11.5% 8%;
	background-color: #e0d3c4;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 8px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.ImgLateral img{
	border-radius: 5px;
	width: 540px;
}

.contenido{
	width: 50%;
	padding: 15px;
	position: inherit;
	margin: 2% 5%;
}

.TituloCrear{
	text-align: center;
}

.TituloCrear h1{
	color: #d9ab57;
	font-size: 36px;
	font-family: 'Patrick Hand', cursive;
	margin-bottom: 0px;
}

.TituloCrear p{
	font-size: 18px;
	font-family: 'Playfair Display', serif;
	margin-top: 0px;
	margin-bottom: 30px;
}

.TituloCrear a{
	font-size: 18px;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	color: #d9ab57;
	margin-top: 0px;
	margin-bottom: 30px;
}

.EspacioCrear{
	padding: 10px 47px;
	margin-bottom: 0;
}

.EspacioCrear label{
	font-family: 'Playfair Display', serif;
}

.EspacioCrear input{
	margin-top: 10px;
	margin-bottom: 8px;
	width: 510px;
	height: 25px;
}

.EspacioCrear input:hover{
	border-bottom-color: #d9ab57;
}

.select{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 516px;
	height: 25px;
}

.Terminos{
	width: 516px;
}

.Terminos input{
	width: 17px;
	height: 17px;
	margin-left: 160px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.Terminos label{
	font-family: 'Playfair Display', serif;
	margin-bottom: 15px;
}

.CrearCuenta{
	width: 250px;
	height: 50px;
	margin-bottom: 10px;
	font-family: 'Playfair Display', serif;
	background-color: #d9ab57;
	color: white;
	font-size: 17px;
	margin-left: 160px;
}

.CrearCuenta:hover{
	border-bottom-color: #d9ab57;
	color: black;
	background-color: #e0d3c4;
}

.datos{
	margin-bottom: 0px;
}

.boton2{
	background-color: #e0d3c4;
	float: right;
	display: block;
	text-align: center;
	padding: 8px 10px;
	margin: 10px;
	text-decoration: none;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
}

.boton2:hover{
	background-color: #f2ece4;
	color: black;
	font-size: 16px;
}

.bottom ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
	width: 99.6%;
}

.bottom li{
	color: white;
	float: left;
	display: block;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.contactos{
	margin-top: 25px;
}

.bottom li p{
	margin-top: 33px;
}

.toggledos{
	width: 20px;
	float: right;
	margin-top: -35px;
	margin-left: 120px;
	display: none;
}

.bottomUp p{
	display: none;
}

@media only screen and (max-width:718px) {
  /* For mobile phones: */
  .datos{
  	top: 0px;
    width: 100%;
    height: auto;
    display: none;
    margin-top: 0px;
  }

  .bottom li{
  	float: none;
  	padding: 4px;
  }

  .bottom li img{
  	width: 16%;
  	margin: 10px;
  	margin-top: 24px;
  	float: left;
  }

  .bottom li p{
  	font-size: 100%;
  }

  .bottom a{
  	padding: 5px;
  	display: inline-block;
  	background-color: #e0d3c4;
  	width: 95%;
  	border-radius: 5px;
  	margin: 5px;
  }

  .boton2 {
  	float: none;
  	margin-left: 40%;
  }

.toggledos{
  	float: left;
  	display: block;
  	width: 32px;
  	padding: 5px;
  	margin: 0px;
  	margin-top: -1.3%;
  	margin-left: 30%;
  	transition: 1s;
  }

  .bottomUp{
  	background-color:#d9ab57;
  	width: 94%;
  	padding: 3%;
  	margin: 0px;
  	margin-top: 3.5%;
  }

  .bottomUp div{
  	align-content: center;
  	width: 80%;
  	height: 30px;
  	padding: 2%;
  	padding-left: 0px;
  	padding-right: 0px;
  	margin-left: 10%;
  	margin-right: 10%;
  }

  .bottomUp p{
  	font-family: 'Playfair Display', serif;
  	display: inline-block;
  	float: right;
  	margin-right: 20%;
  	margin-top: 1%;
  	color: black;
  	font-size: 100%;
  	width: 30%;
  	height: 30px;
  }

  .datos.active{
		display: block;
		transition: 0.8s;
	}
	
}

@media only screen and (max-width:1445px) {

	.ImgLateral{
		float: left;
		width: 90%;
		margin: 3.5%;
	}

	.ImgLateral img{
		width: 100%;
	}

	.contenido{
		width: 60%;
		margin-left: 18.5%;
		margin-right: 18.5%;
		text-align: center;
	}

	.Terminos{
		margin: 0px;
		display: inline-block;
	}

	.contenido input{
		margin: 0px;
	}

	.TituloCrear{
		width: 100%;
	}

	.EspacioCrear input{
		width: 100%;
		margin-bottom: 2%;
		margin-top: 2%;
	}

	.EspacioCrear select{
		width: 100%;
	}

	.Terminos{
		width: 100%;
	}

}

@media only screen and (max-width:1154px) {
	.contenido{
		width: 60%;
		height: auto;
		text-align: center;
	}

	.EspacioCrear{
		width: 100%;
		padding: 0px;
	}

}

@media only screen and (max-width:938px) {
	.contenido{
		width: 90%;
		margin: 0px;
		margin: 2.5%;
		height: auto;
		text-align: center;
	}

	.EspacioCrear{
		width: 100%;
		padding: 0px;
	}

	.EspacioCrear input{
		width: 100%;
		margin-bottom: 2%;
		margin-top: 2%;
	}

	.EspacioCrear select{
		width: 100%;
	}

	.Terminos{
		width: 100%;
	}

}
