@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Patrick+Hand&display=swap');

body{
	padding: 0;
	margin: 0;
}

.navegador ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
}

.navegador li{
	float: left;
}

.navegador li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.navegador li a:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.boton{
	background-color: #d9ab57;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.boton:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.content{
	position: inherit;
}

.ImgLateral{
	float: left;
	margin: 5% 8%;
}

.ImgLateral img{
	border-radius: 5px;
}

.Izq{
	position: absolute;
	top: 18%;
	left: 48%;
	margin-top: 5%;
	padding: 5px;
	width: 40%;
}

.TituloLogin h1{
	color: #d9ab57;
	text-align: center;
	font-size: 36px;
	font-family: 'Patrick Hand', cursive;
	margin-bottom: 0px;
}

.TituloLogin P{
	font-size: 18px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	margin-top: 0px;
	margin-bottom: 40px;
}

.TituloLogin a{
	font-size: 18px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	color: #d9ab57;
	margin-top: 0px;
	margin-bottom: 40px;
}

.EspacioLogin{
	padding: 10px 10px;
}

.EspacioLogin label{
	font-family: 'Playfair Display', serif;
}

.EspacioLogin input{
	width: 100%;
	height: 25px;
	margin-top:10px;
	margin-bottom: 30px;
	font-family: 'Playfair Display', serif;
}

.EspacioLogin input:hover{
	border-bottom-color: #d9ab57;
}

.Ingresar{
	width: 30%;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 34.3%;
	font-family: 'Playfair Display', serif;
	background-color: #d9ab57;
	color: white;
	font-size: 17px;
}

.Ingresar:hover{
	border-bottom-color: #d9ab57;
	color: black;
	background-color: #e0d3c4;
}

.olvidar{
	text-decoration: none;
	margin-left: 37%;
	font-family: 'Playfair Display', serif;
	color: #d9ab57;
}


.boton2{
	background-color: #e0d3c4;
	float: right;
	display: block;
	text-align: center;
	padding: 8px 10px;
	margin: 10px;
	text-decoration: none;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
}

.boton2:hover{
	background-color: #f2ece4;
	color: black;
	font-size: 16px;
}

.bottom ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
	width: 99.6%;
}

.bottom li{
	color: white;
	float: left;
	display: block;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.contactos{
	margin-top: 25px;
}

.bottom li p{
	margin-top: 33px;
}