
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Patrick+Hand&display=swap');

body{
	padding: 0px;
	margin: 0px;
}

.navegador ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
	width: 99.58%;
}

.navegador li{
	float: left;
}

.navegador li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.toggle{
	width: 20px;
	float: right;
	margin-top: -40px;
	margin-left: 5px;
	display: none;
}

.navegador li a:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.boton{
	background-color: #d9ab57;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.boton:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}


@media only screen and (max-width: 1309px) {
  /* For mobile phones: */
  .navegador li{
    width: 100%;
  }
  .navegador{
  	width: 99.59%;
  	height: 80px;
  	overflow: hidden;
  }

  .toggle{
  	display: block;
  	margin-right: 40%;
  	padding: 6px;
  	margin-top: -48px;
  	transition: 0.8s;
  }
}

@media only screen and (max-width: 1309px) {
  /* For mobile phones: */
  .navegador .boton{
    width: 87%;
  }

}

.navegador.active{
	height: auto;
}


.navegador.active .toggle{
	transform: rotate(180deg);
	transition: 0.8s;
}

.visualP img{
	width: 100%;
	margin: 0px 0px;
}

.visualP div{
	position: absolute;
	top: 30%;
	left: 20%;
	padding: 1%;
	margin: 5px;
	width: 40%;
}

.visualP div p{
	display: inline;
	color: white;
	font-size: 100%;
	margin: 0;
	font-family: 'Playfair Display', serif;
}

.visualP div h1{
	color: #d9ab57;
	text-align: center;
	font-size: 250%;
	margin: 1%;
	font-family: 'Permanent Marker', cursive;
}

@media only screen and (max-width: 1245px) {
  /* For mobile phones: */
  .visualP div{
    width: 96.1%;
    text-align: center;
    background-color: #d9ab57;
    position: relative;
    top: 0px;
    left: 0px;
    margin: -5px 0px;
    padding: 2%;
  }

  .visualP div h1{
  	color: #333;
  }

}

.Presentacion{
	position: relative;
}

.Presentacion h1{
	color: #d9ab57;
	text-align: center;
	font-size: 36px;
	margin-top: 40px;
	margin-bottom: 10px;
	font-family: 'Patrick Hand', cursive;
}

.Presentacion p{
	font-size: 18px;
	text-align: center;
	margin-bottom: 45px;
	font-family: 'Playfair Display', serif;
}

.CajaPresentacion{
	position: absolute;
	left: 15.5%;
	width: 16%;
	background-color: 	#f2ece4;
	border-radius: 5px;
	padding: 10px 10px;
	height: 330px;
}

.CajaPresentacion img{
	margin-top: 5%;
	margin-left: 20%;
	width: 65%;
}

.CajaPresentacion h2{
	text-align: center;
	font-family: 'Patrick Hand', cursive;
	color: #d9ab57;
	font-size: 160%;
	margin: 10%;
}

.CajaPresentacion p{
	font-size: 100%;
	text-align: center;
	margin-bottom: 10%;
	font-family: 'Playfair Display', serif;
}

.CajaPresentacion2{
	position: absolute;
	left: 41%;
	width: 18%;
	border-radius: 5px;
	padding: 10px 10px;
	background-color: 	#f2ece4;
	height: 330px;
}

.CajaPresentacion2 img{
	margin-left: 20%;
	width: 65%;
	margin-top: 5%;
}

.CajaPresentacion2 h2{
	text-align: center;
	font-family: 'Patrick Hand', cursive;
	color: #d9ab57;
	font-size: 160%;
	margin: 10%;
}

.CajaPresentacion2 p{
	font-size: 100%;
	text-align: center;
	margin: 10%;
	font-family: 'Playfair Display', serif;
}


.CajaPresentacion3{
	position: absolute;
	left: 66%;
	width: 16%;
	background-color: 	#f2ece4;
	border-radius: 5px;
	padding: 10px 10px;
	height: 330px;
}

.CajaPresentacion3 img{
	margin-left: 20%;
	margin-top: 5%;
	width: 65%;
}

.CajaPresentacion3 h2{
	text-align: center;
	font-family: 'Patrick Hand', cursive;
	color: #d9ab57;
	font-size: 120%;
	margin: 10%;
}

.CajaPresentacion3 p{
	font-size: 100%;
	text-align: center;
	margin: 10%;
	font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 1266px) {
  /* For mobile phones: */

  .CajaPresentacion{
  	position: relative;
    width: 70%;
    height: auto;
    top: 0px;
    left: 13.2%;
    margin-bottom: 25px;
  }

  .CajaPresentacion2{
  	position: relative;
    width: 70%;
    height: auto;
    top: 0px;
    left: 13.2%;
    margin-bottom: 25px;
  }

  .CajaPresentacion3{
  	position: relative;
    width: 70%;
    height: auto;
    top: 0px;
    left: 13.2%;
   	margin-bottom: 25px;
  }
}

.datos{
	position: relative;
	top: 400px;
}


.boton2{
	background-color: #e0d3c4;
	float: right;
	display: block;
	text-align: center;
	padding: 8px 10px;
	margin: 10px;
	text-decoration: none;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
}

.boton2:hover{
	background-color: #f2ece4;
	color: black;
	font-size: 16px;
}

.bottom ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
}

.bottom li{
	color: white;
	float: left;
	display: block;
	text-align: center;
	margin: 5px;
	margin-left: 25px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.contactos{
	margin-top: 25px;
}

.bottom li p{
	margin-top: 33px;
}

@media only screen and (max-width:1250px) {
  /* For mobile phones: */
  .datos{
  	top: 0px;
    width: 100%;
    height: auto;
  }

  .bottom li{
  	float: left;
  }

}

@media only screen and (max-width:770px) {
  /* For mobile phones: */
  .datos{
  	top: 0px;
    width: 100%;
    height: auto;
  }

  .bottom li{
  	float: none;
  	padding: 4px;
  }

  .bottom li img{
  	width: 16%;
  	margin: 10px;
  	margin-top: 24px;
  	float: left;
  }

  .bottom li p{
  	font-size: 100%;
  }

  .bottom a{
  	padding: 5px;
  	display: inline-block;
  	background-color: #e0d3c4;
  	width: 95%;
  	border-radius: 5px;
  	margin: 5px;
  }

  .boton2 {
  	float: none;
  	margin-left: 40%;
  }

}
