@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Patrick+Hand&display=swap');

body{
	padding: 0;
	margin: 0;
}

.navegador ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
}

.navegador li{
	float: left;
}

.navegador li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.navegador li a:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.boton{
	background-color: #d9ab57;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.boton:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.content{
	padding: 50px 220px;
}

.TituloNews{
	text-align: center;
}

.TituloNews h1{
	font-family: 'Patrick Hand', cursive;
	font-size: 40px;
	color: #d9ab57;
	margin-bottom: 3px;
}

.TituloNews p{
	font-family: 'Playfair Display', serif;
	margin-top: 0px;
	font-size: 17px;
}

.NoticiaP img{
	width: 100%;
	position: relative;
	border-radius: 5px;
}

.NoticiaP{
	background-color: #e0d3c4;
	margin-top: 45px;
	border-radius: 5px;
	padding-top: 8px;
	padding-left: 13px;
	padding-bottom: 10px;
	padding-right: 8px;
}

.NoticiasS{
	background-color: red;
	margin-top: 50px;
	margin-left: 65px;
	width: 100%;
	position: relative;
}

.CuadroN{
	float: left;
	padding: 15px;
	width: 25%;
	height: 416px;
	margin: 10px;
}

.CuadroN img{
	width: 100%;
	border-radius: 5px;
	margin-bottom: 12px;
}

.CuadroN a{
	text-decoration: none;
	font-family: 'Patrick Hand', cursive;
	color: #d9ab57;
	font-size: 25px;
}

.CuadroN p{
	font-family: 'Playfair Display', serif;
	font-family: 16px;	
}

.datos{
	position: absolute;
	width: 100%;
	top: 1750px;
}


.boton2{
	background-color: #e0d3c4;
	float: right;
	display: block;
	text-align: center;
	padding: 8px 10px;
	margin: 10px;
	text-decoration: none;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
}

.boton2:hover{
	background-color: #f2ece4;
	color: black;
	font-size: 16px;
}

.bottom ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
}

.bottom li{
	color: white;
	float: left;
	display: block;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.contactos{
	margin-top: 25px;
}

.bottom li p{
	margin-top: 33px;
}