@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Patrick+Hand&display=swap');

body{
	padding: 0px;
	margin: 0px;
}

.navegador ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
	width: 99.58%;
}

.navegador li{
	float: left;
}

.navegador li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.toggle{
	width: 32px;
	float: right;
	margin-top: -40px;
	margin-left: 5px;
	display: none;
}

.navegador li a:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.boton{
	background-color: #d9ab57;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.boton:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}


@media only screen and (max-width: 892px) {
  /* For mobile phones: */
  .navegador li{
    width: 100%;
  }
  .navegador{
  	width: 99.59%;
  	height: 80px;
  	overflow: hidden;
  }

  .toggle{
  	display: block;
  	float: left;
  	margin-left: 30%;
  	padding: 6px;
  	margin-top: -55.7px;
  	transition: 0.8s;
  }
}

@media only screen and (max-width: 892px) {
  /* For mobile phones: */
  .navegador .boton{
    width: 87%;
  }

}

.navegador.active{
	height: auto;
}


.navegador.active .toggle{
	transform: rotate(180deg);
	transition: 0.8s;
}

.content{
	padding: 5% 10%;
}

.TituloNews{
	text-align: center;
}

.TituloNews h1{
	font-family: 'Patrick Hand', cursive;
	font-size: 40px;
	color: #d9ab57;
	margin-bottom: 3px;
}

.TituloNews p{
	font-family: 'Playfair Display', serif;
	margin-top: 0px;
	font-size: 17px;
}

.NoticiaP img{
	width: 100%;
	position: relative;
	border-radius: 5px;
}

.NoticiaP{
	background-color: #e0d3c4;
	margin-top: 45px;
	border-radius: 5px;
	padding-top: 8px;
	padding-left: 13px;
	padding-bottom: 10px;
	padding-right: 8px;
}

.NoticiasS{
	margin-top: 5%;
	margin-left: 2%;
	width: 100%;
	position: relative;
}

.CuadroN{
	float: left;
	padding: 15px;
	width: 25%;
	height: 416px;
	margin: 2%;
}

.CuadroN img{
	width: 100%;
	border-radius: 5px;
	margin-bottom: 12px;
}

.CuadroN a{
	text-decoration: none;
	font-family: 'Patrick Hand', cursive;
	color: #d9ab57;
	font-size: 25px;
}

.CuadroN p{
	font-family: 'Playfair Display', serif;
	font-family: 16px;	
}

.datos{
	display: inline-block;
	width: 100%;
	margin-bottom: -1%;
}


.boton2{
	background-color: #e0d3c4;
	float: right;
	display: block;
	text-align: center;
	padding: 8px 10px;
	margin: 10px;
	text-decoration: none;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
}

.boton2:hover{
	background-color: #f2ece4;
	color: black;
	font-size: 16px;
}

.bottom ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
}

.bottom li{
	color: white;
	float: left;
	display: block;
	text-align: center;
	margin: 5px;
	margin-left: 25px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.contactos{
	margin-top: 25px;
}

.bottom li p{
	margin-top: 33px;
}

@media only screen and (max-width:1250px) {
  /* For mobile phones: */
  .datos{
  	top: 0px;
    width: 100%;
    height: auto;
  }

  .bottom li{
  	float: left;
  }

}

.toggledos{
	width: 20px;
	float: right;
	margin-top: -35px;
	margin-left: 120px;
	display: none;
}

.bottomUp p{
	display: none;
}

@media only screen and (max-width:718px) {
  /* For mobile phones: */
  .datos{
  	top: 0px;
    width: 100%;
    height: auto;
    display: none;
    margin-top: 0px;
  }

  .bottom li{
  	float: none;
  	padding: 4px;
  }

  .bottom li img{
  	width: 16%;
  	margin: 10px;
  	margin-top: 24px;
  	float: left;
  }

  .bottom li p{
  	font-size: 100%;
  }

  .bottom a{
  	padding: 5px;
  	display: inline-block;
  	background-color: #e0d3c4;
  	width: 95%;
  	border-radius: 5px;
  	margin: 5px;
  }

  .boton2 {
  	float: none;
  	margin-left: 40%;
  }

.toggledos{
  	float: left;
  	display: block;
  	width: 32px;
  	padding: 5px;
  	margin: 0px;
  	margin-top: -1.3%;
  	margin-left: 30%;
  	transition: 1s;
  }

  .bottomUp{
  	background-color:#d9ab57;
  	display: inline-block;
  	width: 94%;
  	padding: 3%;
  	margin: 0px;
  	margin-bottom: -1%;
  	margin-top: 5%;
  	top: 0px;
  }

  .bottomUp div{
  	align-content: center;
  	width: 80%;
  	height: 30px;
  	padding: 2%;
  	padding-left: 0px;
  	padding-right: 0px;
  	margin-left: 10%;
  	margin-right: 10%;
  }

  .bottomUp p{
  	font-family: 'Playfair Display', serif;
  	display: inline-block;
  	float: right;
  	margin-right: 20%;
  	margin-top: 1%;
  	color: black;
  	font-size: 100%;
  	width: 30%;
  	height: 30px;
  }

  .datos.active{
		display: block;
		transition: 0.8s;
	}

}

@media only screen and (max-width:863px) {

	.TituloNews{
		width: 100%;
	}

	.NoticiaP{
		width: 100%;
		padding: 0px;
	}

	.NoticiasS{
		width: 100%;
		height: auto;
	}

	.CuadroN{
		width: 40%;
	}

	.CuadroN img{
		width: 100%;
	}
}

@media only screen and (max-width:622px) {

	.content{
		padding: 10%;
	}

	.NoticiasS{
		width: 100%;
		height: auto;
		margin-top: 12%;
	}

	.NoticiaP{
		display: none;
	}

	.CuadroN{
		width: 100%;
		height: auto;
		margin: 0px;
		margin-top: 5%;
		padding: 0px;
	}
}
